/* GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #fce5df;
    --primary-text: #0A1A23;
    --secondary-bg: #ffffff;
    --secondary-text: #0A1A23;
    --accent-1: #FEA994;
    --accent-2: #FE5126;
    --code: #1b394a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

section {
    min-height: 45vh;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
}

button, .link-btn {
    background-color: var(--primary-text);
    color: var(--secondary-bg);
    border: none;
    padding: 0.75rem 1.6rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    min-width: 10rem;
    min-height: 3rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:hover, .link-btn:hover {
    background-color: var(--accent-1);
    color: var(--primary-text);
}

input, textarea, label {
    font-family: inherit;
    font-size: 1rem;
    color: var(--primary-text);
}

textarea:focus, input:focus{
    outline: none;
}

a {
    text-decoration: none;
    color: var(--primary-text);
    transition: color 0.5s;
}

a:hover {
    color: var(--accent-2);
}

li {
    list-style-type: none;
}

/* GLOBAL CLASSES */

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2.5rem;
}

.subheading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.icons {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.hidden {
    display: none;
}

.toggle-theme, #back-to-top, .github-icon, .linkedin-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-theme:hover, #back-to-top:hover, .github-icon:hover, .linkedin-icon:hover {
    transform: scale(1.2);
}

.link-btn a {
    color: var(--secondary-bg);
}

.link-btn:hover a {
    color: var(--primary-text);
}

/* DARK THEME */

.dark-mode {
    --primary-bg: #16213E;
    --primary-text: #FFFFFF;
    --secondary-bg: #0A1A23;
    --secondary-text: #FCE5DF;
    --accent-1: #445A7A;
    --accent-2: #1E3A5F;
    --code: #a4d9f8;
}

.dark-mode .icon {
    filter: invert(1);
}

.dark-mode #envelope {
    filter: invert(0);
}

.dark-mode .home {
    background: url(assets/images/dark-bg.jpg) center/cover no-repeat;
}

/* NAVIGATION */

.navigation {
    width: 100%;
    padding: 1.5rem 3.5rem;
    background-color: var(--secondary-bg);
    border-bottom: 1px solid var(--primary-text);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.navigation-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
}

/* MOBILE NAVIGATION */

#hamburger {
    display: none;
    width: 2rem;
}

#hamburger img {
    width: 100%;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: var(--secondary-bg);
    left: 0;
    top: 0;
    justify-content: space-around;
    height: 100vh;
    padding: 2rem 1.5rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.visible {
    transform: translateX(0);
}

.mobile-menu .links {
    display: none;
    justify-content: space-between;
    height: 80%;
    align-items: flex-start;
}

.mobile-menu .links li:nth-child(7) a {
   font-weight: 500;
   color: var(--secondary-text);
}


/* MAIN */

/* HOME */

.home {
    background: url(assets/images/bg.jpg) center/cover no-repeat;
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10%;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3rem;
    align-items: flex-start;
}

.code-snippet {
    color: var(--code);
    min-width: 50%;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* PROJECTS */

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 1rem;
}

.project-item {
    background: var(--secondary-bg);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.project-item .buttons button {
    min-width: 6rem;
    padding: 0.4rem;
    margin-top: 0.4rem;
    font-size: 0.8rem;
}

.project-item p {
    font-style: italic;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project-item .buttons {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-item:hover .buttons {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* ABOUT */

#about {
    background-color: var(--secondary-bg);
}

.about-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.about-text {
    width: 40%;
}

.about-img {
    max-width: 40%;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* SKILLS */

.skills-wrapper {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-label {
    background-color: var(--accent-1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: 10rem;
    font-weight: 200;
    transition: background-color 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.tech-label:hover {
    background-color: var(--primary-text);
    transform: scale(1.1);
    color: var(--secondary-bg);
    transition: transform 0.3s ease;
}

.tech-name {
    border-bottom: 1px solid var(--accent-1);
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 200;
    font-style: italic;
    width: 50%;
    text-align: center;
}

.arrow {
    width: 3rem;
}

.arrow img {
    width: 100%;
}

/* CONTACT */

#contact-form {
    border: 1px dotted var(--primary-text);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    min-height: 500px;
    background-color: var(--secondary-bg);
}

#contact-form input, textarea {
    border: none;
    border-bottom: 1px solid var(--primary-text);
    width: 100%;
    padding: 0.5rem 0;
    background-color: var(--secondary-bg);
}

.contact-heading {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#envelope {
    transform: translateY(0.5rem);
}

/* FOOTER */

#footer-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

/* FAB */

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}


/* MODAL */

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal {
    background-color: var(--secondary-bg);
    width: 50%;
    color: var(--primary-text);
    border-radius: 5px;
    position: relative;
    padding: 2rem;
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

.dark-mode .modal {
    background-color: var(--primary-bg);
}

#foxy {
    width: 100%;
    height: 100%;
}

.modal h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay.active .modal {
    transform: translateY(0);
}

#show-modal {
    display: block;
    margin: 0 auto;
}

#close-modal {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

#close-modal:hover {
    transform: scale(1.2);
}

/* MEDIA QUIERIES */

@media (max-width: 768px) {
    button {
        font-size: 1rem;
        min-width: 7rem;
        padding: 0.6rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    pre {
        font-size: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .icons {
        width: 100%;
        gap: 1rem;
    }

    .subheading {
        margin-bottom: 1.5rem;
    }

    .navigation {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }

    .links {
        flex-direction: column;
        width: 100%;
    }

    #hamburger {
        display: flex;
    }
    
    .mobile-menu {
        display: flex;
        
    }

    .mobile-menu .links {
        display: flex;
    }

    .menu {
        display: none;
    }

    .home-content {
        padding: 0rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .intro {
        width: 100%;
        justify-content: center;
        gap: 1.5rem;
    }

    .code-snippet {
        width: 100%;
        font-size: 0.8rem;
    }

    .about-img {
        margin-top: 1rem;
        max-width: 100%;
    }

    .about-text {
        width: 100%;
    }

    .projects-wrapper {
        grid-template-columns: 1fr;
    }

    .project-item .buttons {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .skills-wrapper {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .tech-stack {
        gap: 1rem;
    }

    .tech-item {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .tech-label {
        width: 100%;
        max-width: 15rem;
        padding: 0.8rem 1.5rem;
    }

    .tech-name {
        width: 100%;
        max-width: 20rem;
        font-size: 1.5rem;
    }

    .arrow {
        display: none;
    }

    #contact-form {
        padding: 1.5rem;
    }

    .contact-heading {
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center;
    }

    #footer-links {
        flex-direction: column;
    }

    .modal {
        width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 300px;
        padding: 1rem 0.2rem;
    }
}




/* GALLERY.HTML */

.grid-container {
    width: 100%;
    display: grid;
    
    gap: 0.2rem;
    grid-template-areas:
        "a a a b b b"
        "a a a b b b"
        "e e f f g g"
        "e e f f g g"
        "h h h c c d"
        "h h h c c i"
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container img:hover {
    transform: translateY(-5px);
}

.frog1 {
    grid-area: a;
}

.frog2 {
    grid-area: b;
}

.frog3 {
    grid-area: c;
}

.frog4 {
    grid-area: d;
}

.frog5 {
    grid-area: e;
}

.frog6 {
    grid-area: f;
}

.frog7 {
    grid-area: g;
}

.frog8 {
    grid-area: h;
}

.frog9 {
    grid-area: i;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
            "i"
    }
}